PORT= 5000
MONGODB_URL= MONGODB_URL
SALT=12
NODE_ENV= 'development'
JWT_SECRET= bd4a66b97b180f87614be34da40cc519ced3dc62f93b5e8d93cd4b98c4aca9fd
EXPIRES_IN=1d
Base_URL : https://sandbox.aamarpay.com
Store_ID : aamarpaytest
Signature_Key : signature key